.main {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 50px;
}
.bg{
    background: url(/images/bag.jpg);
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow:0px 0px 10px #000;

}



.main .list {
    padding: 5px;
}

.message.show {
    position: absolute;
    top: 0px;
    width: 450px;
    bottom: 200px;
    border: solid 1px rgb(212, 212, 213);;
    background-color: white;
}

.message.show > .list {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    top: 25px;
    overflow-y: auto;
}

.message.show img:not(.emoji) {
    max-width: 150px;
    height: auto;
    display: block;
    border: solid 1px rgb(229, 229, 229);
    cursor: pointer;
}

.message.show img.avatar.image {
    display: inline-block !important;
}

.message.show .item .content {
    max-width: 80% !important;
}

.message.show .item.current .content label {
    float: right;
    font-size: 0.9rem;
}

.message.show .item.current img {
    float: right;
}

.message.send {
    position: absolute;
    width: 450px;
    height: 200px;
    bottom: 0px;
    border: solid 1px rgb(212, 212, 213);
    border-top: none;
}

.message.send .menu {
    margin-bottom: 0;
}

.user.list {
    position: absolute;
    bottom: 0;
    top: 0;
    margin-left: 450px;
    width: 150px;
    border-left: none;
    background-color: grey;
    color: white;
    box-shadow: 0px 0px 10px #000;
}

#text_area {
    height: 100px;
    padding: 2px;
    outline: none;
    overflow-y: auto;
}

.popup.emoji {
    max-width: 250px;
    max-height: 200px;
    padding-left: 5px;
    padding-bottom: 0;
    padding-top: 0px;
}

.popup.emoji img.emoji {
    cursor: pointer;
}

img.emoji {
    width: 25px !important;
    height: auto;
    display: inline-block !important;
}

#text_area img {
    max-width: 100px;
    height: auto;
}

